@use '@/shared/styles/tokens' as *;
@use '@/shared/styles/mixins' as *;
@use '@/shared/styles/functions' as *;

//

.overlay {
    //

    &__backdrop {
        position: absolute;
        inset: 0;

        background-color: rgba(0, 0, 0, .5);
    }

    &__content {
        position: relative;
        z-index: 5;

        max-height: calc(100dvh - rem(200));
        overflow-y: auto;
        overflow-x: hidden;
        -webkit-overflow-scrolling: touch;
    }
}

.overlay-viewport {
    @extend .overlay;

    position: fixed;
    inset: 0;
    z-index: 30;

    &__backdrop {
        cursor: default;
    }
}

.overlay-container {
    @extend .overlay;

    width: 100dvw;
    height: 100dvh;

    position: absolute;
    inset: 0;
    z-index: 10;

    &__backdrop {
        cursor: pointer;
    }
}