@use '@/shared/styles/mixins' as *;
@use '@/shared/styles/functions' as *;

//

.counter {
    background-color: var(--bg-tertiary);

    &-cart {
        @include space(padding, m2, xs, m2, xs);

        @include flex($align: center, $gap: sm);

        &__value {
            @include font(bold, var(--font-manrope), var(--text-secondary), auto, 3xl);
            font-size: get-font-size(sm);

            max-width: 4ch;
            text-align: center;
            font-variant-numeric: tabular-nums;
        }
    }

    &-page {
        @include space(padding, m2, md, m2, md);

        @include flex($align: center, $gap: xl);

        &__value {
            @include font(bold, var(--font-manrope), var(--text-secondary), auto, 3xl);
            font-size: get-font-size(sm);

            max-width: 6ch;
            text-align: center;
            font-variant-numeric: tabular-nums;
        }
    }

    &__button {
        transition: color .1s linear;

        @include space(padding, m0, m1, m0, m1);
    }

    &__button:hover {
        color: var(--text-accent-primary);
    }

    &__button:focus-visible {
        outline: rem(2) solid var(--bg-i-accent-primary);
        outline-offset: get-space(m0);
    }
}