@use '@/shared/styles/tokens' as *;
@use '@/shared/styles/mixins' as *;
@use '@/shared/styles/functions' as *;

//

.selected {
    //

    &-items {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(auto-fit, 1fr);
        gap: get-space(l0);

        @include space(margin, m3, 0, m3, 0);

        @include breakpoint(postMobile) {
            @include flex($direction: column, $justify: center, $align: center, $gap: 3xl);
        }

        &__empty {
            @include typography(body);
            color: var(--text-paragraph);
        }
    }

    &-item {
        @include size(width, full);

        display: grid;
        grid-template-columns: 3fr 7fr;
        row-gap: get-space(md);

        align-items: center;

        @include space(margin, m0, 0, m0, 0);

        @include breakpoint(postMobile) {
            @include flex($align: center, $gap: xl);
        }

        &:focus-visible {
            outline: rem(2) solid var(--bg-i-accent-primary);
            outline-offset: get-space(m0);

            border-radius: get-radius(6xs);
        }

        &__link {
            transition: transform .1s linear;

            &:focus-visible {
                outline: rem(2) solid var(--bg-accent-primary);
                border-radius: get-radius(3xs);
            }

            &:active {
                transform: scale(.96);
            }
        }

        &__picture {
            @include size(width, full, 64, 64);
            @include size(height, full, 64, 64);

            background-color: var(--bg-tertiary);

            overflow: hidden;

            position: relative;

            border-radius: get-radius(3xs);
        }

        &__overview {
            @include flex($direction: column);

            &--title {
                @include typography(subtitle);
                color: var(--text-secondary);
                text-transform: uppercase;
                font-size: rem(15);

                @include breakpoint(postMobile) {
                    max-width: 16ch;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    line-clamp: 2;
                    -webkit-box-orient: vertical;
                }
            }

            &--price {
                @include typography(subtitle);
                letter-spacing: 0;
                color: var(--text-paragraph);
                font-size: rem(15);
            }
        }

        &__counter {
            @include breakpoint(null, postMobile) {
                width: 100%;

                justify-content: center;
            };

            margin-left: auto;

            grid-column: 1 / -1;
        }

        &__quantity {
            @include typography(subtitle);
            color: var(--text-paragraph);

            padding-top: get-space(m2);

            align-self: start;

            margin-left: auto;
        }
    }
}