:root {
    --bg-primary: #FAFAFA;
    --bg-secondary: #0D0D0D;
    --bg-tertiary: #F1F1F1;
    --bg-quaternary: #FFFFFF;
    --bg-additional: #979797;
    --bg-accent-primary: #D87D4A;
    --bg-accent-primary-hover: #FBAF85;

    --bg-i-primary: #FFFFFF;
    --bg-i-secondary: #979797;
    --bg-i-accent-primary: #D87D4A;

    --text-primary: #FFFFFF;
    --text-secondary: #000000;
    --text-tertiary: #7D7D7D;
    --text-paragraph: #7D7D7D;
    --text-paragraph-alternate: #CFCFCF;
    --text-accent-primary: #D87D4A;
    --text-error: #CD2C2C;

    --border-primary: #CFCFCF;
    --border-secondary: #0D0D0D;
    --border-accent-primary: #D87D4A;
    --border-accent-primary-hover: #FBAF85;
    --border-error: #CD2C2C;
}

/* [data-theme='light'] {
    --name: #XXX;
} */