@use '@/shared/styles/tokens' as *;
@use '@/shared/styles/mixins' as *;
@use '@/shared/styles/functions' as *;

//

.feature {
    @include flex($direction: column, $gap: 7xl);

    &__title {
        @include typography(h5);
        color: var(--text-secondary);
        text-transform: uppercase;

        @include breakpoint(laptop) {
            @include typography(h3);
            color: var(--text-secondary);
        };
    }

    &__desc {
        @include typography(body);
        color: var(--text-paragraph);
    }
}