@use '@/shared/styles/tokens' as *;
@use '@/shared/styles/mixins' as *;
@use '@/shared/styles/functions' as *;

//

.hero {
    @include size(width, full);

    background-color: var(--bg-secondary);

    @include space(margin, 0, 0, s0, 0);

    @include breakpoint(laptop) {
        @include space(margin, 0, 0, s2, 0);
    };

    @include breakpoint(desktop) {
        @include space(margin, 0, 0, s3, 0);
    };

    &__container {
        @include size(width, full);

        @include space(padding, l9, null, l9, null);
        @include space(margin, 0, auto, 0, auto);

        @include flex($direction: column, $justify: center, $align: center, $gap: 3xl);
        
        background-blend-mode: difference;

        background-color: var(--bg-secondary);
        background-image: url('/images/mobile/hero/hero.jpg');
        background-repeat: no-repeat;
        background-size: rem(387) rem(617);
        background-position: 50% 110%;

        @include breakpoint(laptop) {
            @include space(padding, l10, null, l14, null);

            background-image: url('/images/laptop/hero/hero.jpg');
            background-size: rem(768) rem(738);
            background-position: 50% 110%;
        };

        @include breakpoint(desktop) {
            @include flex($direction: column, $justify: center, $align: start);

            @include space(padding, l11, null, l15, null);

            background-image: url('/images/desktop/hero/hero.jpg');
            background-size: rem(1538) rem(788);
            background-position: 52% 100%;
        };
    }

    &__sub {
        @include typography(overline);
        color: var(--text-tertiary);
    }

    &__title {
        @include typography(h2);
        color: var(--text-primary);
        text-align: center;
        text-transform: uppercase;

        @include breakpoint(preLaptop) {
            width: 70%;
        };

        @include breakpoint(laptop) {
            width: 60%;

            @include typography(h1);
            color: var(--text-primary);

            @include space(margin, 0, 0, xs, 0);
        };

        @include breakpoint(desktop) {
            width: 60%;

            text-align: left;
        };
    }

    &__desc {
        @include typography(body);
        color: var(--text-paragraph-alternate);
        text-align: center;

        @include breakpoint(preLaptop) {
            width: 80%;
        };

        @include breakpoint(laptop) {
            width: 40%;

            @include space(margin, 0, 0, xl, 0);
        };

        @include breakpoint(desktop) {
            width: 30%;

            text-align: left;
        };
    }
}