@use '@/shared/styles/tokens' as *;
@use '@/shared/styles/mixins' as *;
@use '@/shared/styles/functions' as *;

//

.cart {
    @include size(width, max-content, 327, 327);

    @include space(padding, 3xl, 4xl, 3xl, 4xl);

    background-color: var(--bg-primary);

    position: relative;
    float: right;
    margin-top: get-space(3xl);

    border-radius: get-radius(3xs);

    @include flex($direction: column, $gap: 3xl);

    @include breakpoint(postMobile) {
        @include size(width, max-content, 327, 377);
    }

    &-empty {
        @include flex($direction: column, $gap: 7xl);

        @include space(padding, l0, 0, l0, 0);
        
        &__title {
            @include typography(h5);
            color: var(--text-secondary);

            text-align: center;

            text-transform: uppercase;
        }

        &__desc {
            @include typography(body);
            color: var(--text-paragraph);

            text-align: center;
        }

        &__button {
            width: 80%;

            align-self: center;
        }
    }

    //

    &-content {
        //

        &--loading {
            @include flex($justify: center, $align: center);

            @include space(padding, l0, null, l0, null);
        }

        &--error {
            @include typography(body);
            color: var(--text-paragraph);
        }
        
        &__interactive {
            @include flex($justify: space-between, $align: center);

            &--title {
                @include typography(h6);
                color: var(--text-secondary);
                text-transform: uppercase;
            }
            
            &--button {
                text-decoration: rem(.5) underline;
            }
        }

        &__cta {
            @include flex($justify: space-between, $align: center);

            &--title {
                @include typography(body);
                color: var(--text-paragraph);
            }

            &--price {
                @include typography(h6);
                letter-spacing: 0;
                color: var(--text-secondary);
            }
        }

        &__button {
            width: 100%;

            @include breakpoint(postMobile) {
                @include size(width, full, 323, 323);
            }
        }
    }
}