@use '@/shared/styles/tokens' as *;
@use '@/shared/styles/mixins' as *;
@use '@/shared/styles/functions' as *;

//

.overlay {
    //

    &__backdrop {
        position: absolute;
        inset: 0;

        cursor: pointer;

        background-color: rgba(0, 0, 0, .5);
    }

    &__content {
        position: relative;
        z-index: 5;
    }
}

.overlay-viewport {
    @extend .overlay;

    position: fixed;
    inset: 0;
    z-index: 10;
}

.overlay-container {
    @extend .overlay;

    width: 100dvw;
    height: 100dvh;

    position: absolute;
    inset: 0;
    z-index: 10;
}